{% extends 'volunto/base_visitor.html' %}
{% block content %}
<div class="container-fluid">
    <div class="panel panel-default col-sm-4 col-md-4">
      <div class="panel-heading">
        <h1 text-align="center">Organizations List</h1>
      </div>
    <div class="panel-body">
    {% if organizations_list %}
    <ul class="nav nav-pills nav-stacked">
      {% for organization in organizations_list %}
      <div class="well">
      <li>
        <a href="{{ organization.get_absolute_url }}">{{ organization.orgname }}</a> 
      </li>
    </div>
      {% endfor %}
    </ul>
    {% else %}
      <p>There are no organizations currently active.</p>
    {% endif %}
  </div>
      </div>
</div>     
{% endblock %}