{% extends 'volunto/base_visitor.html' %}
{% block content %}
<div class="container-fluid">
    <div class="panel panel-default col-sm-4 col-md-4">
      <div class="panel-heading">
        <h1 text-align="center">Projects List</h1>
      </div>
    <div class="panel-body">
    <a href="{% url 'volunto:project_create' %}">Create a new project!</a>
    {% if projects_list %}
    <ul class="nav nav-pills nav-stacked">
      {% for project in projects_list %}
      <div class="well">
      <li>
        <a href="{{ project.get_absolute_url }}">{{ project.projectname }}</a> 
      </li>
    </div>
      {% endfor %}
    </ul>
    {% else %}
      <p>There are no projects currently active.</p>
    {% endif %}
  </div>
      </div>
</div>     
{% endblock %}